<p id="notice"><%= notice %></p>

<h1>Listing Featured Projects</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Week</th>
      <th>Day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @featured_projects.each do |featured_project| %>
      <tr>
        <td><%= featured_project.year %></td>
        <td><%= featured_project.week %></td>
        <td><%= featured_project.day %></td>
        <td><%= link_to 'Show', featured_project %></td>
        <td><%= link_to 'Edit', edit_featured_project_path(featured_project) %></td>
        <td><%= link_to 'Destroy', featured_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Featured project', new_featured_project_path %>
