<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @project_tag.tag %>
</p>

<p>
  <strong>Law project:</strong>
  <%= @project_tag.law_project %>
</p>

<%= link_to 'Edit', edit_project_tag_path(@project_tag) %> |
<%= link_to 'Back', project_tags_path %>
